<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>英雄联盟</key>
		<array>
			<string>《英雄联盟》（简称lol）是由美国Riot Games开发，腾讯游戏运营的英雄对战网游。《英雄联盟》除了即时战略、团队作战外，还拥有特色的英雄、自动匹配的战网平台，包括天赋树、召唤师系统、符文等元素。</string>
			<string>在符文之地，魔法就是一切。符文之地有数块大陆，不过所有的生命都集中在最大魔法大陆——瓦洛兰。瓦洛兰大陆居于符文之地中心，是符文之地面积最大的大陆。
被祝福的符文之地上有大量源生态魔法能量，而此地居民可以触及其中的能量。符文之地的中心区域集中了数量巨大的源生态魔法能量，这些地方都是水晶枢纽的理想位置。水晶枢纽可以将源生能量塑形为自身实体化的存在。此外，水晶枢纽还可以成为能量车间，为需要魔法能量的建筑供能。水晶枢纽遍布符文之地，但最大的水晶枢纽都坐落在瓦洛兰大陆。</string>
		</array>
	</dict>
	<dict>
		<key>炉石传说</key>
		<array>
			<string>《炉石传说》是暴雪娱乐开发的首款集换式卡牌游戏。魔兽世界中的九大职业悉数登场。游戏5分钟上手，10分钟一局。支持多平台同场竞技，全新冒险模式《探险者协会》现已上市！</string>
			<string>暂无</string>
		</array>
	</dict>
	<dict>
		<key>DOTA2</key>
		<array>
			<string>《DOTA2》，是脱离了其上一代作品《DOTA》所依赖的War3的引擎，由《DOTA》的地图核心制作者IceFrog（冰蛙）联手美国Valve公司使用他们的Source引擎研发的、Valve运营，完美世界代理（国服），韩国NEXON代理（韩服）的多人联机对抗RPG。</string>
			<string>混元初开，天地未分之际，初生的世界就迎来了一个诡异的伴星一颗如同水晶般透明的星球，被后人称为“癫狂之月”。这颗看上去很小的星球蕴含着狂暴的光芒力量，目睹这力量的人让人感觉似乎是亲眼见证了神的交战。它发出的光芒如此之强，以至于白昼时候的阳光也要逊色三分。而癫狂之月并非一颗安分稳定的星球。与其说他是一个星球，不如说是一个囚牢。里面囚禁着两个争斗了千万年的远古智慧，创世者厌倦了他这俩个子民无休止的争斗，于是降下天罚，把这两个远古智慧关押在一个异能水晶所制成的球体内，让他们永世争斗，永世坠落。这个不详的囚笼在空间中漂浮了无数个世纪，最后，被我们这个可怜的世界的引力所捕获。</string>
		</array>
	</dict>
	<dict>
		<key>穿越火线</key>
		<array>
			<string>《穿越火线》（Cross Fire，简称CF）由韩国Smile Gate开发，在韩国由Neowiz发行，在中国大陆由腾讯公司运营。</string>
			<string>暂无</string>
		</array>
	</dict>
	<dict>
		<key>魔兽世界</key>
		<array>
			<string>《魔兽世界》（World of Warcraft）是由著名游戏公司暴雪娱乐所制作的第一款网络游戏，属于大型多人在线角色扮演游戏。游戏以该公司出品的即时战略游戏《魔兽争霸》的剧情为历史背景，依托魔兽争霸的历史事件和英雄人物，魔兽世界有着完整的历史背景时间线。[1]  玩家在魔兽世界中冒险、完成任务、新的历险、探索未知的世界、征服怪物等。</string>
			<string>经历了天灾入侵的艾泽拉斯大陆满目疮痍，费伍德森林变成了一片死地，提瑞斯法林地游荡者那些早已死去却又一次站起的腐朽身躯，夜色镇终日浓雾弥漫，希利苏斯的沙漠中暗流涌动，洛丹伦王国覆灭，伊利丹背叛暗夜精灵被流放外域，阿尔萨斯这个曾经的王子终于登上了冰封王座，成为了坐镇诺森德的新巫妖王，似乎战争暂时平息，因为战争部落和联盟达成的那些脆弱的协议似乎已经逐渐被人遗忘。</string>
		</array>
	</dict>
	<dict>
		<key>风暴英雄</key>
		<array>
			<string>《风暴英雄》 是由暴雪娱乐公司开发的一款运行在Windows和Mac OS上的在线多人竞技PC游戏。
游戏中的英雄角色主要来自于暴雪三大经典游戏系列：《魔兽世界》、《暗黑破坏神》和《星际争霸》。它是一款道具收费的游戏，与《星际争霸Ⅱ》基于同一引擎开发。</string>
			<string>宇宙里有两只空虚寂寞的神，一个红的，一个蓝的，俩人无聊就说要下下国际象棋来比试比试。
神仙消磨时光的掐架怎么只会用平凡的棋子，于是，他们俩合伙绑架了宇宙各个位面的许多英雄来做棋子，命他们在两位大神创造的棋盘世界中厮杀，而这些英雄全部来自暴雪公司。</string>
		</array>
	</dict>
	<dict>
		<key>星际争霸</key>
		<array>
			<string>《星际争霸》（英语：StarCraft）是暴雪娱乐制作发行的一款即时战略游戏。这是星际争霸系列游戏的第一部作品，于1998年3月31日正式发行。游戏拥有3部资料片，但是正式发行的只有《母巢之战》。其续作《星际争霸II：自由之翼》已于2010年7月27日发行。</string>
			<string>游戏描述了26世纪初期，位于银河系中心的三个种族在克普鲁星际空间中争夺霸权的故事。三个种族分别是：地球人的后裔人族（Terran）、一种进化迅速的生物群体虫族（Zerg），以及一支高度文明并具有心灵力量的远古种族神族（Protoss）。游戏三个独特种族的创新设计得到了好评。</string>
		</array>
	</dict>
	<dict>
		<key>格斗游戏</key>
		<array>
			<string>格斗游戏（Fight Technology Game，简称为FTG），是动作游戏的一种。这类的游戏具有明显的动作游戏特征，也是动作游戏中的重要分支。画面通常是玩家分为多个两个或多个阵营相互作战，使用格斗技巧使击败对手来获取胜利。</string>
			<string>暂无</string>
		</array>
	</dict>
	<dict>
		<key>主机游戏</key>
		<array>
			<string>主机游戏，学名电视游戏、家用机游戏，是一种用来娱乐的交互式多媒体。通常是指使用电视屏幕为显示器，在电视上执行家用主机的游戏，属电子游戏的一种。在日本，电视游戏比电脑游戏更为普遍，由于游戏软件种类多、设计也较亲切、容易上手。</string>
			<string>暂无</string>
		</array>
	</dict>
	<dict>
		<key>地下城与勇士</key>
		<array>
			<string>《地下城与勇士》是一款韩国网络游戏公司NEOPLE开发的免费角色扮演2D游戏，由三星电子发行，并于2005年8月在韩国正式发布。中国则由腾讯游戏代理发行。</string>
			<string>在阿拉德大陆的文明之光闪耀之前，世界是一个无边的宇宙，孕育着各种形态的生命。这些生命分散在各种虚空异界和地下城堡里，用它们的勤劳和智慧，创建着世界的繁荣。
在各种虚空异界里，存在一种叫做“生命之水”的物体，可以使获得者拥有无限的生命。生命之水的出现，引起了各异界生命的争夺。魔族使徒“爆龙王”巴卡尔为抢夺生命之水，率领其手下的龙人和以赫尔德为中心的魔族使徒们展开了被称为“龙之战争”的魔族大战。</string>
		</array>
	</dict>
</array>
</plist>
